.mainDiv {
  color: white;
  background-color: #005c4b;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  margin: 1px 0 1px 0;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  max-width: 60%;
}

.msg {
  margin: 0 10px 0 0;
}

.timestamp {
  color: #99beb7;
  font-size: smaller;
  margin-top: auto;
}
